<h3 class="text-info">Confederación:</h3>

<fieldset class="form-group">
  <label>codConfederacion</label>
  <input class="form-control" type="number" ng-model="$parent.item.codConfederacion" required>
</fieldset>

<fieldset class="form-group">
  <label>nomConfederacion</label>
  <input class="form-control" type="text" ng-model="$parent.item.nomConfederacion" required>
</fieldset>

<fieldset class="form-group">
  <label>abrConfederacion</label>
  <input class="form-control" type="text" ng-model="$parent.item.abrConfederacion" required>
</fieldset>

<fieldset class="form-group">
  <label>cupos</label>
  <input class="form-control" type="number" ng-model="$parent.item.cupos" required>
</fieldset>
